<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/" class="navbar-brand">Ask4You</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <ng-template [ngIf]="!authState">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['panel', 'login']">Login</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['panel', 'register']">Register</a>
                </li>
            </ng-template>
            <ng-template [ngIf]="authState">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/panel">Dashboard</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="onLogout()">Logout</a>
            </li>
            </ng-template>
        </ul>
    </div>
</nav>
