<div class="row">
    <div class="col-md-2 sidebar-offcanvas">
        <div class="list-group">
            <a class="list-group-item" routerLinkActive="active" routerLink="main">Main</a>
            <a class="list-group-item" routerLinkActive="active" routerLink="polls">Polls</a>
            <a class="list-group-item" routerLinkActive="active" routerLink="reports">Reports</a>
            <a class="list-group-item" routerLinkActive="active" routerLink="settings">Settings</a>
        </div>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>