<div class="jumbotron">
    <h1 class="display-3">Documentation</h1>
    <p class="lead">Full project documentation</p>
    <hr class="my-4">
    <div class="card">
        <div class="card-block">
            <a href="#" class="btn btn-primary">PDF</a>
            <a href="#" class="btn btn-primary">DOC</a>
        </div>
        <div class="card-block">
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan lobortis ipsum, et iaculis tellus venenatis a. In quis mollis lorem. Curabitur est ligula, rutrum eu velit vitae, suscipit sodales lectus. Suspendisse ac est nec sapien semper eleifend. Etiam ante felis, egestas at porttitor ut, vestibulum sit amet dui. Ut vitae consequat sem. Sed nunc metus, convallis sit amet suscipit eget, dictum at ligula. Nunc non ex sed magna vehicula pharetra. Vestibulum nulla tellus, rutrum quis blandit vel, rutrum vel libero. Nunc felis erat, consectetur eget quam nec, rhoncus laoreet tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada.
            </p>
        </div>
    </div>
</div>