<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                Register
            </div>
            <div class="card-block">
                <div class="card-text">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form">
                        <div class="form-group"
                             [ngClass]="{'has-success': form.get('email').valid && form.get('email').touched, 'has-danger': !form.get('email').valid && form.get('email').touched}">
                            <label for="email">Email address</label>
                            <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email"
                            [ngClass]="{'form-control-success': form.get('email').valid && form.get('email').touched, 'form-control-danger': !form.get('email').valid && form.get('email').touched}">
                            <small class="form-text text-muted text-danger" *ngIf="!form.get('email').valid && form.get('email').touched">Has to be valid email address</small>
                        </div>
                        <div class="form-group"
                             [ngClass]="{'has-success': form.get('password').valid && form.get('password').touched, 'has-danger': !form.get('password').valid && form.get('password').touched}">
                            <label for="password">Password</label>
                            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password"
                                   [ngClass]="{'form-control-success': form.get('password').valid && form.get('password').touched, 'form-control-danger': !form.get('password').valid && form.get('password').touched}">
                            <small class="form-text text-muted text-danger" *ngIf="!form.get('password').valid && form.get('password').touched">Min 4 characters</small>
                        </div>
                        <div class="form-group"
                             [ngClass]="{'has-success': form.get('password_repeat').valid && form.get('password_repeat').touched, 'has-danger': !form.get('password_repeat').valid && form.get('password_repeat').touched}">
                            <label for="password_repeat">Repeat Password</label>
                            <input formControlName="password_repeat" type="password" class="form-control" id="password_repeat" placeholder="Repeat Password"
                                   [ngClass]="{'form-control-success': form.get('password_repeat').valid && form.get('password_repeat').touched, 'form-control-danger': !form.get('password_repeat').valid && form.get('password_repeat').touched}">
                            <small class="form-text text-muted text-danger" *ngIf="!form.get('password_repeat').valid && form.get('password_repeat').touched">Has to be the same as password</small>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
