<div class="jumbotron">
    <h1 class="display-3">Reports</h1>
    <p class="lead">Manage your reports here</p>
    <hr class="my-4">

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Download</th>
            <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr
                *ngIf="reports.length < 1">
            <td class="text-center" colspan="4">
                <div class="alert alert-info" role="alert">
                    <i class="fa fa-archive fa-4x" aria-hidden="true"></i>
                    <h4 class="alert-heading">Your Reports box is empty!</h4>
                    <p>You don't have any reports yet!</p>
                </div>
            </td>
        </tr>
        <tr *ngFor="let report of reports; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ report.name }}</td>
            <td><button class="btn btn-primary">Download</button></td>
            <td>{{ report.created_at | date:'fullDate' }}</td>
        </tr>

        </tbody>
    </table>

</div>