<div class="jumbotron">
    <h1 class="display-3">Presentation</h1>
    <p class="lead">Some quick info about how our product works</p>
    <hr class="my-4">
    <div class="card">
        <div class="card-block">
			<p class="card-text">
				W celu skorzystania z aplikacji należy się zarejstrować za pomocą funkcji: Register. <br>
				Jeżeli posiadasz już konto użytkownika przejdż do okna logowania: Login. <br>
			</p>
			
			<ul class="list-group list-group-flush">
			<li class="list-group-item">Register - w oknie rejstracji należy podać swój adres e-mail oraz dwukrotnie wprowadzic hasło, a następnie należy kliknąć -> Register</li>
            <li class="list-group-item">Login - należy wprowadzić adres e-mail i hasło podane podczas wczesniejszej rejstracji, a nastepnie należy kliknąć -> Login</li>
			</ul>
		</div>
		 <div class="card-block">	
			<p class="card-text">	
				Po zalogowaniu do aplikacji wyświetla się menu główne aplikacji, w którym dostępne są takie funkcjonalności jak: Polls, Reports, Settings.<br>
            </p>
        
        <ul class="list-group list-group-flush">
			
            <li class="list-group-item">Polls - możliwość definiowania i tworzenia formularzy ankietowych </li>
            <li class="list-group-item">Reports - generowanie zdefiniowanych raportów zawierających wyniki przeprowadzonych ankiet</li>
            <li class="list-group-item">Settings - ustawienia użytkownika</li>
            
        </ul>
        <div class="card-block">
            <a href="#" class="card-link">Go check</a>
            <a href="#" class="card-link">Go see</a>
        </div>
    </div>
</div>