<div class="jumbotron">
    <h1 class="display-3">Main</h1>
    <p class="lead">Welcome to Ask4You panel</p>
    <hr class="my-4">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://c1.staticflickr.com/5/4068/4453697565_dcacd29f08_b.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Polls</h4>
                <p class="card-text">Some quick explanation about what you can do in this section.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="https://static.pexels.com/photos/348323/pexels-photo-348323.jpeg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Reports</h4>
                <p class="card-text">Some quick explanation about what you can do in this section.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="https://static.pexels.com/photos/6471/woman-hand-smartphone-desk.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Settings</h4>
                <p class="card-text">Some quick explanation about what you can do in this section.</p>
            </div>
        </div>
    </div>
</div>