<div class="jumbotron">
    <h1 class="display-3">Authors</h1>
    <p class="lead">Get familiar with authors of the project</p>
    <hr class="my-4">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Agata Pankowska</h4>
            <h6 class="card-subtitle mb-2 text-muted">Kierownik projektu</h6>
            <p class="card-text">
                
            </p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-block">
            <h4 class="card-title">Michał Kungonda</h4>
            <h6 class="card-subtitle mb-2 text-muted">Programista</h6>
            <p class="card-text">
               
            </p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-block">
            <h4 class="card-title">Bogusława Chylińska</h4>
            <h6 class="card-subtitle mb-2 text-muted">Tester, Dokumentalista</h6>
            <p class="card-text">
                
            </p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-block">
            <h4 class="card-title">Beata Sandomirska</h4>
            <h6 class="card-subtitle mb-2 text-muted">Tester, Dokumentalista</h6>
            <p class="card-text">
                
            </p>
        </div>
    </div>
</div>