<div class="row">
    <div class="col-md-2 sidebar-offcanvas">
        <div class="list-group">
            <a class="list-group-item" routerLinkActive="active" routerLink="documentation">Documentation</a>
            <a class="list-group-item" routerLinkActive="active" routerLink="presentation">Presentation</a>
            <a class="list-group-item" routerLinkActive="active" routerLink="authors">Authors</a>
        </div>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>