<div class="jumbotron">
    <h1 class="display-3">Polls</h1>
    <p class="lead">Manage your polls here</p>
    <hr class="my-4">
    <div class="row mb-2">
        <div class="col-12 text-right">
            <a class="btn btn-primary" routerLink="edit" data-toggle="tooltip" data-placement="top" title="Create new poll" data-animation="false" #button><i class="fa fa-plus-circle"></i></a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Created at</th>
            <th></th>
        </tr>
        </thead>
        <tbody
                *ngIf="!loadingData; else spinner">
        <tr
                *ngIf="isEmpty(); else pollBlock">
            <td class="text-center" colspan="5">
                <div class="alert alert-info" role="alert">
                    <i class="fa fa-archive fa-4x" aria-hidden="true"></i>
                    <h4 class="alert-heading">Your Polls box is empty!</h4>
                    <p>You don't have any polls yet, try to create some!</p>
                </div>
            </td>
        </tr>
        <ng-template #pollBlock>
            <tr *ngFor="let poll of polls; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ poll.content.name }}</td>
                <td>
                    <span class="badge"
                          [ngClass]="{'badge-success': isActive(poll), 'badge-warning': !isActive(poll)}">
                        {{ poll.content.status }}</span>
                </td>
                <td>{{ poll.content.created_at | date:'short' }}</td>
                <td>
                    <span
                            *ngIf="poll.content.status != 'active'; else stopAction">
                        <button type="button" class="btn btn-success btn-sm" title="start"
                                (click)="startPoll(i)"><i class="fa fa-play-circle"></i></button>
                    </span>
                    <ng-template #stopAction>
                        <button type="button" class="btn btn-warning btn-sm" title="stop"
                                (click)="stopPoll(i)"><i class="fa fa-stop-circle"></i></button>
                    </ng-template>
                    <button type="button" class="btn btn-danger btn-sm" title="delete"
                            (click)="deletePoll(i)"
                    [disabled]="!canDelete(i)"><i class="fa fa-trash-o"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" title="edit"
                            (click)="editPoll(i)"
                            [disabled]="!canEdit(i)"><i class="fa fa-pencil-square-o"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" title="duplicate"
                            (click)="duplicatePoll(i)"><i class="fa fa-copy"></i></button>
                    <button class="btn btn-primary btn-sm" title="view"
                            (click)="downloadPollPdf(i)"><i class="fa fa-file-pdf-o"></i></button>
                </td>
            </tr>
        </ng-template>
        </tbody>
        <ng-template #spinner>
            <tbody>
            <tr>
                <td colspan="5" class="text-center">
                    <div class="mt-2">
                        <i class="text-primary fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <p class="mt-1">Synchronizing...</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </ng-template>
    </table>
</div>